@import 'variables';

.nmw-nav-bar {
  flex: 1;
  margin: 0 auto;
  max-width: 220px;
  min-width: 220px;
}

.nmw-nav-bar__floating {
  float: left;
  position: fixed;
  background: $nmw-color-s-l;
  height: 100%;
  width: 220px;
  box-shadow: #aaa 0 2px 5px 0;
  border: 0.5px solid #ddd;
  border-radius: 16px;
  margin-left: -8px;
  margin-top: -8px;
  padding: 8px;
}

.nmw-nav-item {
  margin-right: 16px;
  a {
    padding: 16px 0 16px 16px;
    border-radius: 16px;
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;

    &:hover {
      background: $nmw-color-s-d;
      cursor: pointer;
    }

    &:active {
      background: $nmw-color-s;
    }
  }
}

.nmw-nav-item--selected {
  a {
    background: $nmw-color-s;
  }
}
