// colors
$nmw-blue: #2646c1; // white text
$nmw-blue-light: #6771f5; // black text
$nmw-blue-dark: #002090; // white text

$nmw-sky-blue: #e0ecff; // black text
$nmw-sky-light: #ffffff; // black text
$nmw-sky-dark: #aebacc; // black text

$nmw-smoke: rgba(250, 250, 250, 1);

// primary
$nmw-color-p: $nmw-blue;
$nmw-color-p-l: $nmw-blue-light;
$nmw-color-p-d: $nmw-blue-dark;

// secondary
$nmw-color-s: $nmw-sky-blue;
$nmw-color-s-l: $nmw-sky-light;
$nmw-color-s-d: $nmw-sky-dark;
